<form [formGroup]="miFormulario" (ngSubmit)="enviarFormulario()">
  <mat-form-field appearance="fill">
    <mat-label>Id Supplier</mat-label>
    <input matInput type="number" formControlName="IdSupplier" required>
    <mat-error *ngIf="miFormulario.get('IdSupplier')?.hasError('required')">
      El Id del proveedor es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre de la marca</mat-label>
    <input matInput formControlName="BrandName" required>
    <mat-error *ngIf="miFormulario.get('BrandName')?.hasError('required')">
      El nombre de la marca es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>País</mat-label>
    <input matInput formControlName="BrandCountry" required>
    <mat-error *ngIf="miFormulario.get('BrandCountry')?.hasError('required')">
      El país es obligatorio
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Proveedor</mat-label>
    <mat-select formControlName="IdSupplier" required>
      <mat-option *ngFor="let proveedor of listProveedores" [value]="proveedor.idSupplier">
        {{ proveedor.supplierName }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="miFormulario.get('IdSupplier')?.hasError('required')">
      El proveedor es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="BrandStatus"></mat-checkbox>

  <button mat-raised-button color="primary" type="submit" [disabled]="!miFormulario.valid">Enviar</button>
</form>
